{extend name="/index/base" /}
{block name="title"}{$title}{/block}
{block name="main"}
<form action="/index/index/add" method="POST">
	<input type="text" name="name" /><br/>
	<input type="text" name="url" /><br/>
	<input type="radio" name="linktype" value="1" />图片 <input type="radio" name="linktype" value="0" checked />文字<br/>
	<input type="submit" value="提交" />
</form>
<p style="color:#ff0000">{$error}</p>

<form action="/index/index/upload" enctype="multipart/form-data" method="post">
	<input type="file" name="image" /> <br> 
	<input type="submit" value="上传" /> 
</form> 

{/block}